<html layout:decorate="~{layout}">

<div layout:fragment ="content" class="container my-3">
		<table class="table">
		<thead class="table-dark"> 
			<tr> <th> 번호</th> <th> 제목 </th><th> 작성일시 </th>
			</tr> 
		</thead>
			<tbody>
				<!-- th: html 코드가 아니고 thymeleaf 문법 -->
				 
				<tr th:each = "question, loop : ${paging}" > <!-- question객체에 id값을 집어넣음 -->
					<td th:text="${loop.count}"> </td> <!-- loop 객체가 1씩 증가 (게시글 넘버링)-->
					<td>
						<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
					</td>
					<td th:text = "${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td> 
					<!-- #temporals.format : ()안의 내용을 형식을 바꿔서 출력해라 -->
				</tr>
				
		</tbody>
	
	</table>
	
	<a th:href ="@{/question/create}" class= "btn btn-primary"> 질문등록 하기</a>
	
	
	
</div>	
</html>