<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상세페이지</title>
</head>
<body>
	<h2> 상세페이지</h2>
	<h1 th:text="${question.subject}"> 글 제목</h1>
	<div th:text="${question.content}"> 글 내용</div>
	
	<!--현재 글의 답변을 출력-->
	
	<h5 th:text="|${#lists.size (question.answerList)}개의 답변이 있습니다.|"></h5>
	
	<div>
		<u1>
			<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
		</u1>
	</div>
	<form th:action ="@{|/answer/create/${question.id}|}" method="post">
		<textarea rows ="15" name ="content" id ="content"></textarea>  <!--name ="content"의 이름과 answer.java에서 private String content; 이름이 같아야 함  -->
		<input type = "submit" value = "답변등록">
		
	</form>
	
</body>
</html>