<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	div {
	
	height : 900px;
	margin : 10px;
	border : 1px solid pink ;


	}
	

</style>
</head>


<body>
	<h1> Anchor Test</h1>
	
		<a href="#answer_1"> 1번 앵커이동</a><br>
		<a href="#answer_2"> 2번 앵커이동</a><br>
		<a href="#answer_3"> 3번 앵커이동</a><br>
		<a href="http://localhost:8585/anchor#answer_4"> 4번 앵커이동</a><br>  <!-- 절대 경로 저장 -->
		<a href="#answer_5"> 5번 앵커이동</a><br>
	<hr>
	
	<a href="#" id = "answer_1"> 첫 번째 앵커 </a>
	<div> </div>
	<a href="#" id = "answer_2"> 두 번째 앵커 </a>
	<div> </div>
	<a href="#" id = "answer_3"> 세 번째 앵커 </a>
	<div> </div>
	<a href="#" id = "answer_4"> 네 번째 앵커 </a>
	<div> </div>
	<a href="#" id = "answer_5"> 다섯 번째 앵커 </a>
	<div> </div>
	
</body>

</html>